@model IEnumerable<AcademiaLevel2.Models.Friends>
@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/frends/css")
<h3>All users</h3>

@foreach (var item in Model)
{
  
<div>
    <div class="col-md-2"></div>
    <div class="col-md-9 friend" id="@item.id">
        <div class="col-md-8">  
            @if (item.userThis.Id == ViewBag.id)
            {
                <h3>@item.userAnother.firstName @item.userAnother.lastName</h3>
                <h4>@item.userAnother.Email</h4>
            }
            else
            {
                <h3>@item.userThis.firstName @item.userThis.lastName</h3>
                <h4>@item.userThis.Email</h4> 
            }
        </div>
        <div class="col-md-2">
            @if (item.status == "friend")
            {  
                <button type="submit" id="delete-@item.id" class="btn-delete btn btn-default button">Delete friend</button>
            }
            @if (item.status == "followIn")
            {
                if (item.userThis.Id == ViewBag.id)
                {
                    <button type="submit" id="add-@item.id" class="btn-add btn btn-default button">Add to friends</button>
                }
                else
                {
                    <button type="submit" id="delete-@item.id" class="btn-delete btn btn-default button">Unfollow </button>
                }
            }
            @if (item.status == "followOut")
            {
                if (item.userThis.Id == ViewBag.id)
                {    
                    <button type="submit" id="delete-@item.id" class="btn-delete btn btn-default button">Unfollow </button>
                }
                else
                {
                    <button type="submit" id="add-@item.id" class="btn-add btn btn-default button">Add to friends</button>
                }
            }

            @if (item.status == "unknown")
            {
                if (item.userThis.Id == ViewBag.id)
                {
                    <button type="submit" id="follow-@item.id" class="btn-follow btn btn-default button">Follow</button>
                }
                else
                {
                    <button type="submit" id="followIn-@item.id" class="btn-followIn btn btn-default button">Follow</button>
                }
            }
        </div>
    </div>
    <div class="col-md-1"></div>
</div>  
}
