@model IEnumerable<AcademiaLevel2.Models.FriendView>
@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/frends/css")
<h3>All users</h3>

@foreach (var item in Model)
{
  
<div>
    <div class="col-md-2"></div>
    <div class="col-md-9 friend" id="@item.idFriends">
        <div class="col-md-8">              
                <h3>@item.FirstName @item.LastName</h3>
                <h4>@item.Email</h4>
            
        </div>
        <div class="col-md-2">
             @switch (item.Status) {
                 case null: 
                     <button type="submit" id="follow-@item.Id" class="btn-follow btn btn-default button">Follow</button>
                     break;
                 case "friend":
                    <button type="submit" id="delete-@item.idFriends" class="btn-delete btn btn-default button">Delete friend</button>
                     break;
                 case "follow":
                     if (item.UserThis_Id != item.Id)
                     {
                    <button type="submit" id="delete-@item.idFriends" class="btn-delete btn btn-default button">Unfollow </button>
                     }
                     else
                     {
                    <button type="submit" id="add-@item.idFriends" class="btn-add btn btn-default button">Add to friends</button>
                     }
                     break;
                 default:
                    <script type="text/javascript">
                                             alert("Помилка при обробці запиту");
                    </script>
                     break;

             }       
        </div>
    </div>
    <div class="col-md-1"></div>
</div>    
}